body {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #fff;
  color: #4a556c;
  text-align: center;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
.material-symbols-outlined {
  width: 24.72px;
  height: 22.49px;
  background: linear-gradient(
      30deg,
      #fff 12%,
      transparent 12.5%,
      transparent 87%,
      #fff 87.5%,
      #fff
    ),
    linear-gradient(
      150deg,
      #fff 12%,
      transparent 12.5%,
      transparent 87%,
      #fff 87.5%,
      #fff
    ),
    #20ad96;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  padding: 10px;
  color: #fff;
  border-radius: 12px; /* Adjust the border radius as needed */
}

.navbar {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: #4a556c;
  font-weight: thin;
}
.navbarItem {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cta-button {
  background-color: #20ad96;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

main {
  padding: 2em;
}

.banner {
  background-color: #faf8f6;
  padding: 40px 40px;
  height: 677px;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.left-side h2 {
  font-weight: bolder;
  font-size: 72px;
  margin: 0;
  color: #333461;
}
.sub-heading {
  font-size: 16px;

  color: #9ba2af;
  font-weight: normal;
  margin-bottom: 30px;
}
.description {
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  color: #4a556c;
}

.right-side {
  position: relative;
}

.white-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  top: -20px;
  left: -150px;
  width: 237px;
  height: 104px;
  background-color: #fff;
}
.white-box-title {
  color: #333461;
  font-size: 32px;
  margin: 0;
  font-weight: bolder;
}

.white-box-des {
  color: #9ba2af;
  font-weight: normal;
  margin: 0;
}

.right-side img {
  margin-top: 40px;
  height: 710px;
  border-radius: 8px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media Query for Mobile Responsive */
@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbarItem {
    flex-direction: column;
    align-items: start;
  }
}
